#!/usr/bin/make -f

export PYBUILD_NAME=tor2web
export PYBUILD_DISABLE=test
export PYBUILD_INSTALL_ARGS=--no-compile

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_install:
	dh_apparmor --profile-name=usr.bin.tor2web
	dh_install --fail-missing

override_dh_python2:
	dh_python2 --no-guessing-deps --no-guessing-versions

override_dh_python_3:
	dh_python3 --no-guessing-deps

override_dh_installinit:
	dh_installinit --update-rcd-params="defaults 99"
