Parsley==1.2
Twisted==17.9.0
cffi==1.11.5
cryptography==3.2
enum34==1.1.6
idna==2.6
pyOpenSSL==17.5.0
pyasn1==0.4.2
pycparser==2.18
service_identity==16.0.0
six==1.11.0
transaction==1.4.3
zope.interface==4.3.2
