Parsley==1.2
Twisted==16.0.0
cffi==1.5.2
cryptography==1.2.3
enum34==0.9.23
idna==2.0
pyOpenSSL==0.15.1
pyasn1==0.3.4
pycparser==2.10
service_identity==16.0.0
six==1.5.2
transaction==1.1.1
zope.interface==4.0.5
